@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: green;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes c1 {
  0% {
    clip: rect(50.5664121925px, 9999px, 58.7734675893px, 0);
  }
  5% {
    clip: rect(52.3578466366px, 9999px, 52.4468380795px, 0);
  }
  10% {
    clip: rect(55.1266386568px, 9999px, 83.1677786991px, 0);
  }
  15% {
    clip: rect(25.0348147836px, 9999px, 93.1987296943px, 0);
  }
  20% {
    clip: rect(61.4248916352px, 9999px, 93.5830555942px, 0);
  }
  25% {
    clip: rect(63.9854540597px, 9999px, 31.520904163px, 0);
  }
  30% {
    clip: rect(15.2315482464px, 9999px, 62.60778962px, 0);
  }
  35% {
    clip: rect(71.5573445873px, 9999px, 43.0411021782px, 0);
  }
  40% {
    clip: rect(65.600902534px, 9999px, 86.742951429px, 0);
  }
  45% {
    clip: rect(83.6346358945px, 9999px, 62.3566348841px, 0);
  }
  50% {
    clip: rect(7.0534984759px, 9999px, 21.3960734585px, 0);
  }
  55% {
    clip: rect(66.8006975069px, 9999px, 97.2574769828px, 0);
  }
  60% {
    clip: rect(49.4282988069px, 9999px, 20.1860405989px, 0);
  }
  65% {
    clip: rect(9.2961723137px, 9999px, 92.3552618585px, 0);
  }
  70% {
    clip: rect(67.0743872527px, 9999px, 86.8441544338px, 0);
  }
  75% {
    clip: rect(76.1670086074px, 9999px, 59.1440992404px, 0);
  }
  80% {
    clip: rect(34.4865808978px, 9999px, 22.7305417525px, 0);
  }
  85% {
    clip: rect(78.7166204958px, 9999px, 16.7183629185px, 0);
  }
  90% {
    clip: rect(48.8605697071px, 9999px, 28.7981768161px, 0);
  }
  95% {
    clip: rect(97.4255427689px, 9999px, 77.6656930419px, 0);
  }
  100% {
    clip: rect(89.7576916086px, 9999px, 16.0147796164px, 0);
  }
}
@keyframes c2 {
  0% {
    clip: rect(4.3556318783px, 9999px, 18.4523235435px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  5% {
    clip: rect(9.8736319241px, 9999px, 91.8218668893px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  10% {
    clip: rect(31.6002195521px, 9999px, 57.7459489951px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  15% {
    clip: rect(81.2735694952px, 9999px, 32.6350227326px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  20% {
    clip: rect(100.9833987344px, 9999px, 11.4635204073px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  25% {
    clip: rect(38.6026454148px, 9999px, 14.704995514px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  30% {
    clip: rect(57.6479065605px, 9999px, 52.9488837068px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  35% {
    clip: rect(48.7761320638px, 9999px, 50.5427072237px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  40% {
    clip: rect(1.7896903261px, 9999px, 28.3191240264px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  45% {
    clip: rect(41.1578561009px, 9999px, 18.7406913733px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  50% {
    clip: rect(82.2911344571px, 9999px, 5.2311426086px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  55% {
    clip: rect(45.4636066964px, 9999px, 86.8084872678px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  60% {
    clip: rect(94.4691580594px, 9999px, 94.9044328657px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  65% {
    clip: rect(12.9641543137px, 9999px, 41.0718990859px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  70% {
    clip: rect(13.1003556443px, 9999px, 35.9967853153px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  75% {
    clip: rect(85.4265296729px, 9999px, 78.6263746927px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  80% {
    clip: rect(87.7155762108px, 9999px, 50.8872684756px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  85% {
    clip: rect(35.9638221688px, 9999px, 60.0364061802px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  90% {
    clip: rect(97.4291956495px, 9999px, 99.9033533625px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  95% {
    clip: rect(29.2160671343px, 9999px, 58.2487134261px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
  100% {
    clip: rect(13.9031656189px, 9999px, 6.5583803791px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
}
@keyframes clock-bag {
  0% {
    transform: translate(1.3002668182px, 1.9564686977px);
  }
  2% {
    transform: translate(1.3670109376px, 5.152132847px);
  }
  4% {
    transform: translate(5.4403100876px, 3.6237688623px);
  }
  6% {
    transform: translate(3.9737538037px, 4.2567928561px);
  }
  8% {
    transform: translate(5.3179815354px, 2.9779015308px);
  }
  10% {
    transform: translate(3.7996934742px, 4.741502961px);
  }
  12% {
    transform: translate(3.8394339272px, 3.9214547467px);
  }
  14% {
    transform: translate(1.3090065977px, 1.2521685294px);
  }
  16% {
    transform: translate(5.9626499349px, 5.3067504058px);
  }
  18% {
    transform: translate(2.2816783111px, 4.3133913314px);
  }
  20% {
    transform: translate(1.5372345162px, 1.6215886352px);
  }
  22% {
    transform: translate(4.8466428235px, 1.5630873329px);
  }
  24% {
    transform: translate(3.6516815272px, 2.1287834056px);
  }
  26% {
    transform: translate(2.7350711696px, 3.1504605166px);
  }
  28% {
    transform: translate(3.4226911617px, 3.8838273923px);
  }
  30% {
    transform: translate(5.8950189846px, 2.2818873874px);
  }
  32% {
    transform: translate(2.4977890057px, 1.6919516213px);
  }
  34% {
    transform: translate(3.200023009px, 1.1562508098px);
  }
  36% {
    transform: translate(4.4754471698px, 2.5667795618px);
  }
  38% {
    transform: translate(2.3731179561px, 3.1168067914px);
  }
  40% {
    transform: translate(3.1014751534px, 1.4906106715px);
  }
  42% {
    transform: translate(4.4389732838px, 3.2705566075px);
  }
  44% {
    transform: translate(5.9523646987px, 3.2333460944px);
  }
  46% {
    transform: translate(1.4406014675px, 2.4663077513px);
  }
  48% {
    transform: translate(2.9666476389px, 1.6227911642px);
  }
  50% {
    transform: translate(4.8436870268px, 5.5973522595px);
  }
  52% {
    transform: translate(4.9505725492px, 1.5418635779px);
  }
  54% {
    transform: translate(5.9013317633px, 2.0520016136px);
  }
  56% {
    transform: translate(5.652324396px, 3.5226183859px);
  }
  58% {
    transform: translate(4.2707153457px, 5.5948987015px);
  }
  60% {
    transform: translate(3.6487045262px, 4.4576248327px);
  }
  62% {
    transform: translate(3.2109277725px, 1.9790342722px);
  }
  64% {
    transform: translate(1.8488198565px, 2.5978236697px);
  }
  66% {
    transform: translate(3.7609616329px, 4.1729170654px);
  }
  68% {
    transform: translate(4.8481860845px, 2.6795576796px);
  }
  70% {
    transform: translate(3.139633888px, 3.9053191391px);
  }
  72% {
    transform: translate(1.3112298032px, 1.0520977972px);
  }
  74% {
    transform: translate(5.5997958788px, 1.2725529039px);
  }
  76% {
    transform: translate(4.124898359px, 1.4875090974px);
  }
  78% {
    transform: translate(3.1775459695px, 3.6483732091px);
  }
  80% {
    transform: translate(1.4472643091px, 4.4810073005px);
  }
  82% {
    transform: translate(4.8367267714px, 4.9633802992px);
  }
  84% {
    transform: translate(1.0360757468px, 4.6894747424px);
  }
  86% {
    transform: translate(2.0803690796px, 2.8205147016px);
  }
  88% {
    transform: translate(5.1007392005px, 1.0222957564px);
  }
  90% {
    transform: translate(2.5745455511px, 3.4314631097px);
  }
  92% {
    transform: translate(5.9615996026px, 5.2502989525px);
  }
  94% {
    transform: translate(2.2296295757px, 5.5608061899px);
  }
  96% {
    transform: translate(2.5653899483px, 1.0025127677px);
  }
  98% {
    transform: translate(3.4484623534px, 1.8232065089px);
  }
  100% {
    transform: translate(5.2140617984px, 1.5643563741px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    transform: translate(5.9487830472px, 5.4300955612px);
  }
  2% {
    transform: translate(5.80991418px, 1.9033043558px);
  }
  4% {
    transform: translate(2.9596879095px, 3.803661688px);
  }
  6% {
    transform: translate(1.1378595383px, 2.3801299365px);
  }
  8% {
    transform: translate(3.2475965012px, 1.7492262588px);
  }
  10% {
    transform: translate(2.9612033319px, 4.8412371432px);
  }
  12% {
    transform: translate(2.8928335611px, 5.7931023342px);
  }
  14% {
    transform: translate(4.4938354217px, 4.7711754596px);
  }
  16% {
    transform: translate(1.6485827704px, 3.8194281097px);
  }
  18% {
    transform: translate(2.8508725978px, 2.7380658313px);
  }
  20% {
    transform: translate(2.6069402277px, 1.2315896782px);
  }
  22% {
    transform: translate(3.7831559439px, 1.7151994883px);
  }
  24% {
    transform: translate(2.150325276px, 3.2945597279px);
  }
  26% {
    transform: translate(2.5119904349px, 5.1366755494px);
  }
  28% {
    transform: translate(3.0714676116px, 3.4462227639px);
  }
  30% {
    transform: translate(1.1568651926px, 3.0881075409px);
  }
  32% {
    transform: translate(1.9326596864px, 3.9910784123px);
  }
  34% {
    transform: translate(5.5710083026px, 5.225072664px);
  }
  36% {
    transform: translate(4.6823121058px, 3.9274177207px);
  }
  38% {
    transform: translate(1.5107642414px, 2.4088295584px);
  }
  40% {
    transform: translate(2.1709215724px, 4.7102298768px);
  }
  42% {
    transform: translate(5.467691413px, 1.9943809631px);
  }
  44% {
    transform: translate(5.9021590796px, 4.7047800183px);
  }
  46% {
    transform: translate(3.1071005908px, 2.3723990695px);
  }
  48% {
    transform: translate(3.9883090887px, 3.2891185676px);
  }
  50% {
    transform: translate(1.0369506652px, 2.4930709624px);
  }
  52% {
    transform: translate(5.2626930192px, 5.9586680058px);
  }
  54% {
    transform: translate(5.4514803687px, 3.78280113px);
  }
  56% {
    transform: translate(2.6150964776px, 2.4373240372px);
  }
  58% {
    transform: translate(3.1609583253px, 4.1931361656px);
  }
  60% {
    transform: translate(1.8222710522px, 1.7700930118px);
  }
  62% {
    transform: translate(4.8033400844px, 3.8800782343px);
  }
  64% {
    transform: translate(1.9178355317px, 4.4187299444px);
  }
  66% {
    transform: translate(3.9485631525px, 3.5499449564px);
  }
  68% {
    transform: translate(5.1438470788px, 4.5391640001px);
  }
  70% {
    transform: translate(3.9525506268px, 3.8215108495px);
  }
  72% {
    transform: translate(4.9400820781px, 3.8422568932px);
  }
  74% {
    transform: translate(2.7473471195px, 1.9767621638px);
  }
  76% {
    transform: translate(4.4964453253px, 5.6854695279px);
  }
  78% {
    transform: translate(4.897128467px, 2.5677216467px);
  }
  80% {
    transform: translate(3.8569865356px, 5.8135544091px);
  }
  82% {
    transform: translate(5.8505327767px, 1.8828634841px);
  }
  84% {
    transform: translate(3.1914420401px, 3.1539081337px);
  }
  86% {
    transform: translate(2.6499097879px, 2.4077469385px);
  }
  88% {
    transform: translate(5.717208105px, 2.2277588418px);
  }
  90% {
    transform: translate(4.3147403014px, 5.449242625px);
  }
  92% {
    transform: translate(4.2013487294px, 3.8946875503px);
  }
  94% {
    transform: translate(1.6290686687px, 2.6811787385px);
  }
  96% {
    transform: translate(5.8145350829px, 1.8989176494px);
  }
  98% {
    transform: translate(5.6218956731px, 1.7907372221px);
  }
  100% {
    transform: translate(1.9737485391px, 2.4007779167px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}

/*# sourceMappingURL=animation.css.map */
